<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'Payments' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header">
    <ion-label class="title">{{'Payment Options' | translate}}</ion-label>
  </div>
  <ion-item (click)="openStripe()">
    <ion-thumbnail slot="start">
      <img src="assets/stripe.png" />
    </ion-thumbnail>
    <ion-label>{{'Pay with' | translate}} Stripe</ion-label>
    <ion-icon mode="ios" name="arrow-forward-outline" slot="end"></ion-icon>
  </ion-item>

  <ion-item (click)="payWithPaypal()">
    <ion-thumbnail slot="start">
      <img src="assets/paypal.png" />
    </ion-thumbnail>
    <ion-label>{{'Pay with' | translate}} Paypal</ion-label>
    <ion-icon mode="ios" name="arrow-forward-outline" slot="end"></ion-icon>
  </ion-item>

  <ion-item (click)="placeOrder()">
    <ion-thumbnail slot="start">
      <img src="assets/cod.png" />
    </ion-thumbnail>
    <ion-label>{{'Cash on Delivery' | translate}}</ion-label>
    <ion-icon mode="ios" name="arrow-forward-outline" slot="end"></ion-icon>
  </ion-item>
</ion-content>